@font-face {
  font-family: ethin;
  src: url(../fonts/Estedad-Thin.woff2);
}
@font-face {
  font-family: eregular;
  src: url(../fonts/Estedad-Regular.woff2);
}
@font-face {
  font-family: emedium;
  src: url(../fonts/Estedad-Medium.woff2);
}
@font-face {
  font-family: elight;
  src: url(../fonts/Estedad-Light.woff2);
}
@font-face {
  font-family: eelight;
  src: url(../fonts/Estedad-ExtraLight.woff2);
}
@font-face {
  font-family: ebold;
  src: url(../fonts/Estedad-Bold.woff2);
}
@font-face {
  font-family: esbold;
  src: url(../fonts/Estedad-SemiBold.woff2);
}
@font-face {
  font-family: eebold;
  src: url(../fonts/Estedad-ExtraBold.woff2);
}
@font-face {
  font-family: eblack;
  src: url(../fonts/Estedad-Black.woff2);
}
